.links a:nth-child(2) {
    border-bottom: 5px solid #283586;
}

/* Image is not protected by copyright, but not mine either */
/* Note: Get one that IS mine */
.bg_1 {
    background-image: url("./galaxy_plain.jpg");
    min-height:1350px;
}

/* From NASA, this one not protected by copyright */
.bg_2 {
    background-image: url("./trifid_nebula.jpg");
    min-height:1600px;
}

main .project_content {
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 0 20px 30px rgba(0,0,0,0.8);
    max-width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 30px;
    border-radius: 20px;
}

.project_card {
    box-sizing: border-box;
    width:30%;
    min-width:200px;
    height:300px;
    margin:100px 10%;
    border-radius: 20px;
}

@media screen and (max-width:1200px) {
    .project_card {
        width:70%;
    }
}

.card1 {
    background-color: #442F75;
    box-shadow: 0 0 20px 25px #442F75;
}

.card2 {
    background-color: #283586;
    box-shadow: 0 0 20px 25px #283586;
}

.card3 {
    background-color: #5D1E3E;
    box-shadow: 0 0 20px 25px #5D1E3E;
}

.card_spacer {
    width:30%;
}